<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <title>Clarity - Home</title>
    <meta name="description" content="The purpose of this document is to test the skill level of potential employees." />

    <link rel="stylesheet" type="text/css" href="../CSS/Viewport_Override/viewport_XLarge.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Viewport_Override/viewport_Large.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Viewport_Override/viewport_Medium.css">
    <link rel="stylesheet" type="text/css" href="../CSS/desktop_CSS.css">
    <link rel="stylesheet" type="text/css" href="../CSS/mobile_CSS.css">
    <script src="../Scripts/Main.js"></script>
</head>

<div class="document">
    <div class="header">
        <div class="clarityLogo_Container">
            <img src="../Images/Clarity_logo.jpg">
        </div>
        <div class="headerMobileMenu" onclick="openHeaderMenuMobile()">
            <div class="menuElement"></div>
            <div class="menuElement"></div>
            <div class="menuElement"></div>
        </div>
        <ul class="headerMenu" id="headerMenuList">
            <li>
                Why Clarity
            </li>
            <span class="verticalRule"></span>
            <li>
                Benefits
            </li>
            <span class="verticalRule"></span>
            <li>
                Diversity
            </li>
        </ul>
    </div>

    <div class="headerGradientBanner"></div>
    <img class="bannerImage" src="../Images/Clarity_banner.jpg">

    <div class="body">
        <div class="content">
            <div class="mainBody_section">
                <div class="mainBody_section_title">
                    Why Clarity?
                </div>
                <div>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                    qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                    voluptas nulla pariatur?
                </div>
            </div>
            <div class="mainBody_section">
                <div class="mainBody_section_title">
                    Our Employees
                </div>
                <div class="employeeSection_image_container">
                    <img class="employeeSection_image" src="../Images/Clarity_employeePhoto1.jpg">
                    <img class="employeeSection_image" src="../Images/Clarity_employeePhoto2.jpg">
                </div>
                <div>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                    qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                    voluptas nulla pariatur?
                </div>
            </div>
        </div>
        <div class="body_sideMenu">
            <div class="body_sideMenu_SocialMedia">
                <div class="body_sideMenu_title">
                    Connect with Clarity
                </div>
                <div class="SocialMedia_Icon_Container">
                    <img class="SocialMedia_Icon" src="../Images/Twitter_Logo.jpg">
                    <img class="SocialMedia_Icon" src="../Images/linkedIn_Logo.jpg">
                    <img class="SocialMedia_Icon" src="../Images/Facebook_Logo.jpg">
                    <img class="SocialMedia_Icon" src="../Images/youTube_Logo.jpg">
                </div>
            </div>
            <div class="body_sideMenu_externalLinks">
                <div class="body_sideMenu_title">
                    Useful Links
                </div>
                <ul class="externalLinks_list">
                    <li>Your Career</li>
                    <li>Work Life</li>
                    <li>Locations</li>
                    <li>Our Culter</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_menu">
            <div>
                Careers
            </div>
            <span class="verticalRule"></span>
            <div>
                Benefits
            </div>
            <span class="verticalRule"></span>
            <div>
                Privacy
            </div>
        </div>
    </div>
</div>