@media (min-width: 1100px) {
    /*********************************************************/
    /*                      Header                           */
    /*********************************************************/
    .headerMenu {
        width: 25%;
    }
    /***************************************/
    /*              Content                */
    /***************************************/
    .mainBody_section {
        font-size: 1.1em;
    }
    .mainBody_section_title {
        font-size: 1.75em;
    }
}