@media (min-width: 576px) and (max-width: 768px) {
  /*********************************************************/
  /*                      Header                           */
  /*********************************************************/
  .headerMenu {
    width: 45%;
  }
  /***************************************/
  /*              Content                */
  /***************************************/
  .mainBody_section {
    font-size: 0.75em;
  }
  .mainBody_section_title {
    font-size: 1.25em;
    font-weight: 600;
  }
}