@media (min-width: 576px) {
    /*********************************************************/
    /*                       Main                            */
    /*********************************************************/
    .document {
        font-family: sans-serif;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }

    .verticalRule {
        border: 1px solid #222;
    }
    /*********************************************************/
    /*                      Header                           */
    /*********************************************************/
    .header {
        justify-content: space-between;
        display: flex;
    }
    .clarityLogo_Container {
        padding: 1% 2%;
        width: 10%;
    }
    .headerGradientBanner {
        background: #ccc;
        /* For browsers that do not support gradients */
        background: -moz-linear-gradient(#eee, #666);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#eee, #666);
        /* Standard syntax */
        width: 100%;
        height: 30px;
        margin: 0 0 1% 0%;
    }
    .headerMenu {
        justify-content: space-between;
        display: flex;
        padding: 1% 5% 2% 0%;
        list-style: none;
    }
    .headerMenu li:hover {
        opacity: 0.5;
    }
    .headerSpacer {
        width: 0%;
    }
    /*********************************************************/
    /*                       Body                            */
    /*********************************************************/
    .bannerImage {
        width: 100%;
    }
    .body {
        padding: 2% 4%;
    }
    .body_sideMenu {
        width: 40%;
        float: right;
    }
    .content {
        width: 60%;
        float: left;
    }
    /***************************************/
    /*         Social Links Menu           */
    /***************************************/
    .body_sideMenu_SocialMedia {
        border: 1px solid #333;
        border-radius: 3px;
        padding: 2%;
        margin: 2% 4% 5% 25%;
    }
    .SocialMedia_Icon_Container {
        justify-content: space-between;
        display: flex;
        padding: 5%;
        width: 90%;
    }
    .SocialMedia_Icon {
        height: 20px;
        border-radius: 1px;
    }
    .body_sideMenu_externalLinks {
        border: 1px solid #333;
        padding: 2%;
        border-radius: 3px;
        margin: 2% 4% 5% 25%;
    }
    .body_sideMenu_title {
        font-size: 1.35em;
    }
    /***************************************/
    /*        External Links Menu          */
    /***************************************/
    .externalLinks_list {
        list-style: none;
        padding-left: 10%;
    }
    .externalLinks_list li {
        padding: 1% 0;
    }
    .externalLinks_list li:before {
        content: "\2023 \0020";
    }
    /***************************************/
    /*              Content                */
    /***************************************/
    .mainBody_section {
        width: 100%;
        float: left;
        margin: 0 0 3% 0;
    }
    .mainBody_section_title {
        padding: 0 0 1% 0;
    }
    .employeeSection_image_container {
        width: 90%;
        justify-content: space-between;
        display: flex;
        margin: 0 0 3% 0;
    }
    .employeeSection_image {
        width: 45%;
    }
    /*********************************************************/
    /*                      Footer                           */
    /*********************************************************/
    .footer {
        background-color: #ccc;
        width: 100%;
        margin: 0 0 1% 0%;
        clear: both;
        overflow: auto;
    }
    .footer_menu {
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        display: flex;
        padding: 1%;
        font-size: .85em;
    }
}